.Background{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
}

.MyModal{
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
}

.Background.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

