.MyLoader{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.Loader {
    pointer-events: none;
    animation: rotate 1s infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}