.MyLoader{
    border-radius: 50%;
    border: 2px dashed red;
    width: 100px;
    height: 100px;
    animation: rotate 1s infinite linear;
    margin-left: auto;
    margin-right: auto;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}